{% extends 'main/base.html' %}

{%block title%}
Проект "Про нас"
{%endblock%}

{% block content %}
<h1>Довідник масажиста </h1>
  <h5>Даний проект було розроблено із ціллю <br>
  полегшення складання графіку масажистам та <br>
  комфортного запису користувачів на прийом до лікаря <br>
  за допомогою веб-додатку</h5>
<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
  <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'massages'%}">Про види масажу</a>
  <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'doctors'%}">Про лікарів</a>
</nav>
{% endblock %}
